<h1><%= User.model_name.human %></h1>

<table>
  <thead>
  <tr>
    <th><%= User.human_attribute_name(:email) %></th>
    <th><%= User.human_attribute_name(:self_introduction) %></th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.self_introduction %></td>
      <td><%= link_to t('views.common.show'), user %></td>
      <td><%= link_to t('views.common.edit'), edit_user_registration_path %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @users %>

<br>

<br>

<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
